# Interfaz web
streamlit>=1.31.0

# Procesamiento de imágenes
opencv-python-headless>=4.8.1
scikit-image>=0.22.0
Pillow>=10.0.0

# Ajuste de NumPy para TensorFlow 2.12
numpy>=1.22,<1.24

# Machine Learning / Deep Learning
tensorflow==2.12.0
keras==2.12.0  

scikit-learn>=1.2.2  
# Utilidades
tqdm>=4.66.0
